<nav class="navbar sticky-top bg-body-tertiary" style="background: transparent;">
  <div class="container-fluid">
    <a class="navbar-brand ms-5 " href="#">ClimateCast</a>
  </div>
</nav>

<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">

          <div class="col-lg-6 align-self-center">
            <div class="left-content">
              <div class="row">
                <div class="col-lg-12">
                  <h2>ClimateCast &#8217; Your Personalized Forecast Provider</h2>
                  <p>Get up-to-date weather information for your location and beyond with ClimateCast.
                    Plan your day with confidence using our accurate and customizable weather forecasts.
                  </p>
                </div>
                <div class="col-lg-12">
                  <div class="white-button">
                    <a href="#">Check weather <i class="fab fa-apple"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-image">
              <img src="/images/slider-dec.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading ">
          <h4>Amazing <em>Services &amp; Features</em> for you</h4>
          <img src="/images/heading-line-dec.png" alt="">
          <p>Get up-to-date weather information for your location and beyond with ClimateCast.
            Plan your day with confidence using our accurate and customizable weather forecasts.
          </p>

          <div class="main-weather-form">
            <form id="weather-search-form" action="" method="post" enctype="multipart/form-data">
              <label for="city-form">City : </label>
              <input type="text" name="city" id="city-form" value="Kozhikode">

              <label for="select-form">select : </label>
              <select name="dayOrWeek" id="select-form">
                <option value="daily">daily</option>
                <option value="weekly">weekly</option>
              </select>
              <label for="temp-form"></label>
              <select name="tempUnit" id="temp-form">
                <option value="c">Celcius</option>
                <option value="f">Faranheit</option>
              </select>
              <button type="submit" class="btn btn-primary" style="padding: 1px 8px !important;">search</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mt-2 mb-5">
      <div class="col-lg-12 d-flex justify-content-center">
        <h4>Today's highligts</h4>
      </div>
    </div>
    
    <div class="today-weather-details row gx-3">
      
        <div class="col-lg-3 first-col">
          <div class="content">
            <div class="icon"><i class="bi bi-cloud-sun-fill"></i></div>
            <h3><span id="today-temp-value">34</span> &#176;c</h3>
            <h6 id="today-date-and-time">sunday ,12:00</h6>
            <span id="current-city">City</span><br>
            <span id="today-condition-status">Clear sky</span>
          </div>
        </div>
        <div class="col-lg-3 second-col">
          <div class="content-box-1">
            <h6>Uv index</h6>
            <h3 class="uvindex-value">34 &#176; c</h3>
            <span class="uvindex-status">low</span>
          </div>
          <div class="content-box-2">
            <h6>Humidity</h6>
            <h3 class="humidity-value">34 &#176; c</h3>
            <span class="humidity-status">low</span>
          </div>
        </div>
        <div class="col-lg-3 third-col">
          <div class="content-box-1">
            <h6>Wind status</h6>
            <h3 class="wind-value">34 &#176; c</h3>
            <span class="wind-status">low</span>
          </div>
          <div class="content-box-2">
            <h6>Visibility</h6>
            <h3 class="visibility-value">34 &#176; c</h3>
            <span class="visibility-status">low</span>
          </div>
        </div>
        <div class="col-lg-3 fourth-col">
          <div class="content-box-1">
            <h6>Sunrise</h6>
            <h3 class="sunrise-value">34 &#176; c</h3>
            <span class="sunrise-status">low</span>
          </div>
          <div class="content-box-2">
            <h6>Airquality</h6>
            <h3 class="air-quality-value">34 &#176; c</h3>
            <span class="air-quality-status">low</span>
          </div>
        </div>
     
    </div>
  </div>


  <div class="container">
    <div class="row" id="weather-card-row">
      <!--
      <div class="col-6 col-md-3 col-lg-2">

        <div class="weather-item">
          <div class="icon"></div>
          <h4 class="weather-item-heading">Day1</h4>
          <p>sample data <br>and one more <br>lets out</p>
        </div>

      </div>
      -->

    </div>
  </div>


</div>





<footer class="text-center text-lg-start bg-white mt-4" style="background: white;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(255, 255, 255);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">Climatecast.com</a>
  </div>
  <!-- Copyright -->
</footer>


<!--<div class="text-button">
            <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
</div>-->